/node_modules
.github



convex/_generated


.anchor/*
solana

Cargo.lock
/target/debug
/target/deploy
/target/release
/target/types
/target/sbpf-solana-solana
/coverage
/dist

/out/

# production
/build

# misc
.DS_Store
*.pem


# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel
